<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Online Zipper</title>
        
        <!-- CSS (load bootstrap from a CDN) -->
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <style>
            body { padding-top:50px; }
        </style>
    </head>
    <body class="container">
        <header>
        </header>

        <main>
            <div class="d-flex justify-content-center p-4" style="background-color: beige;">
                <div class="col-md-6">
                    <h2 class="text-center">Yah ! lamannya tidak ketemu</h2>
                    <p class="text-center">Silahkan kembali ke halaman <a href="/">Utama</a> </p>
                </div>
                        
            </div>
            
        </main>

        <footer>
        </footer>

    </body>
</html>